.post {
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  margin-top: 10px;
  padding: 0;
  max-width: 600px;
}

@media (min-width: 640px) {
  .postNarrow640 {
    margin-bottom: 60px;
  }
}

@media (max-width: 735px) {
  .postNarrow735 {
    margin-bottom: 15px;
  }
}

.post__header {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 16px;
  vertical-align: baseline;
}

.post__header__avatarContainer {
  height: 32px;
  width: 32px;
}

.post__header__username {
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 600;
  display: flex;
  margin-left: 14px;
  position: relative;
}