@import './variables';

.header {
  background-color: white;
  border-bottom: $border;
  height: 54px;
  padding: 0 20px;
  div {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    .header__logo {
      cursor: pointer;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      padding: 12.5px 0;
    }
    .header__search {
      pointer-events: none;
      margin: 7px auto;
    }
    .header__btnPane {
      align-items: center;
      display: flex;
      justify-content: space-between;
      height: 22px;
      margin: 16px 0px 16px auto;
      width: 110px;
      div {
        cursor: pointer;
        height: 22px;
        width: 22px;
      }
    }
  }
}