@import './variables';

.post {
  background-color: white;
  border: $border;
  border-radius: 3px;
  margin-top: 10px;
  max-width: 600px;
}
@media (min-width: 640px) {
  .post {
    margin-bottom: 50px;
  }
}
@media (max-width: 735px) {
  .post {
    margin-bottom: 15px;
  }
}

.post__header {
  align-items: center;
  border-bottom: $border;
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 16px;
}

.post__header__avatarContainer {
  height: 32px;
  width: 32px;
  border: $border;
}

.post__header__username {
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 600;
  display: flex;
  margin-left: 14px;
  position: relative;
}

.post__imageContainer {
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  display: block;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.post__imageChevron {
  cursor: pointer;
  background: 0 0;
  border: 0;
  justify-self: center;
  outline: 0;
  padding: 16px 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.post__imageChevronLeft {
  left: 0px;
  div {
    background-position: -130px -98px;
    height: 30px;
    width: 30px;
    background-image: url($sourceIconsPath);
  }
}
.post__imageChevronRight {
  right: 0px;
  div {
    background-position: -162px -98px;
    height: 30px;
    width: 30px;
    background-image: url($sourceIconsPath);
  }
}
.post__carouselLike {
  max-width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post__footer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.post__footer__btnBar {
  padding: 0 16px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  span button {
    align-items: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    justify-content: center;
  }
}

.post__footer__likes {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-start;
  margin-bottom: 8px;
  padding: 0 16px;
  position: relative;
}

.post__footer__likes p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 600;
}

.post__footer__datetime {
  padding-left: 16px;
  margin-top: 4px;
  display: block;
  margin-bottom: 4px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 10px;
  letter-spacing: .2px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.post__footer__comments {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 0 16px;
}

.post__footer__comments__item {
  display: flex;
}

.post__footer__comments__viewAll {
  color: rgb(142, 142, 142);
  cursor: pointer;
}

.post__footer__comments__comment {
  flex-grow: 1;
}

.post__footer__comments__author {
  font-weight: 600;
}

.post__footer__comments__more {
  color: rgb(142, 142, 142);
  cursor: pointer;
}

.comment__modalBox {
  min-width: 24px;
  div {
    height: 19px;
  }
}

.post__footer__addComment {
  border-top-color: rgb(239, 239, 239);
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(142, 142, 142);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
  height: 56px;
  justify-content: center;
  line-height: 18px;
  margin-left: 4px;
  min-height: 56px;
  padding: 0 16px;
  position: relative;
  text-size-adjust: 100%;
  width: auto;
  align-items: center;
  color: rgb(142, 142, 142);
  display: flex;
  flex-shrink: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  line-height: 18px;
  position: relative;
  text-size-adjust: 100%;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  > textarea {
    appearance: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: auto;
    border-bottom-color: rgb(38, 38, 38);
    color: rgb(38, 38, 38);
    column-count: auto;
    cursor: text;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    height: 18px;
    letter-spacing: normal;
    line-height: 18px;
    max-height: 80px;
    overflow-wrap: break-word;
    resize: none;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    white-space: pre-wrap;
    width: auto;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
  }
  > button {
    align-items: flex-start;
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-sizing: border-box;
    color: rgb(0, 149, 246);
    cursor: pointer;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 600;
    height: 18px;
    letter-spacing: normal;
    position: relative;
    text-align: center;
    text-indent: 0px;
    text-overflow: ellipsis;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    user-select: none;
    width: 27.1719px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
  }
  > button:disabled, button[disabled] {
    color: lightblue;
  }
}

.feed__followPeople {
  left: 50%;
  position: absolute;
  top: 25%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  span {
    color: rgb(0, 149, 246);
    cursor: pointer;
  }
}